@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto 0 auto;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}


/* .list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
} */

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

* {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header {
    background-color: #3F2AFF;
}

.header__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.burger {
    display: none;
}

.header__logo {
    margin-right: auto;
    width: 94px;
    min-width: 94px;
    height: 21px;
    min-height: 21px;
}

.nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: 56px;
}

.nav__link {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    ;
}

.hero {
    background: -webkit-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
    background: -moz-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
    background: -o-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
    padding: 15px 0 5px 0;
}

.hero h1 {
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 115px;
}

.basic-description {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.hero p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 64px;
}

.hero__btn {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: 24px 75.5px;
    color: #FFFFFF;
    background: #3F2AFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    margin-bottom: 121px;
}

.hero__pict {
    margin-left: 2px;
}

h2 {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #212133;
}

.cartridges {
    margin-top: 12px;
}

.advantages {
    padding-top: 45px;
    padding-bottom: 75px;
}

.advantages__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.advantages__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.advantages h2 {
    margin-bottom: 15px;
    padding-right: 160px;
}

.advantages p {
    margin-bottom: 19px;
}

.advantages-description {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.advantages__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages__heading-img {
    padding-bottom: 3px;
}

.advantages-image1,
.advantages-image2,
.advantages-image3 {
    padding-right: 110px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}

.advantages-image1 {
    background-image: url("../img/eye.svg");
}

.advantages-image2 {
    background-image: url("../img/arm.svg");
}

.advantages-image3 {
    background-image: url("../img/megaphone.svg");
}

.advantages__description {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #666666;
}

.teachers {
    padding-top: 40px;
    background: #212133;
}

.teachers h2 {
    color: #FFFFFF;
    margin-bottom: 25px;
}

.teachers__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.teachers__item {
    max-width: 285px;
}

.teachers img {
    -webkit-border-radius: 23px 23px 0px 0px;
    -moz-border-radius: 23px 23px 0px 0px;
    border-radius: 23px 23px 0px 0px;
}

.teachers h3 {
    margin-top: 26px;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.teachers p {
    margin-top: 9px;
    margin-bottom: 72px;
    color: #FFFFFF;
}

.courses {
    padding-top: 41px;
    margin-bottom: 50px;
}

.courses h2 {
    margin-bottom: 24px;
}

.courses__item-pict {
    position: relative;
}

.courses__training-time {
    position: absolute;
    top: 9px;
    right: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.courses__training-watch {
    margin-right: 5px;
}

.courses h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.courses p {
    margin-bottom: 49px;
}

.courses li {
    margin-bottom: 30px;
}

.courses__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    list-style: none;
    padding: 0;
}

.courses__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 100%;
}

.courses__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -3px;
    padding: 30px 30px;
    max-width: 540px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
    background-color: #EDF0F9;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.corses__item-content {
    /* margin-bottom: 20px; */
    /* height: 100%; */
}

.courses__btn {
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #3F2AFF;
    padding: 20.5px 59px;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: auto;
}


/* footer {
    height: 98px;
    background-color: #E5E5E5;
} */

.social-network {
    height: 80px;
    background-color: #2E2B44;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-network__item:not(:last-child) {
    margin-right: 34.5px;
}

.skillbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}