@import '_variables.scss';

@mixin textHeaderMenu {
	// font-family: TT Firs Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
}

@mixin font-face($font-family, $url, $weight, $style) {
	@font-face {
		font-family: "#{$font-family}";
		src: url('#{$url}.woff2') format("woff2");
		font-weight: #{$weight};
		font-display: swap;
		font-style: #{$style};
	}
}

@mixin button {
	width: fit-content;
	padding: 13px 20px;
	background-color: $colorOrange;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.5px;
	align-items: center;
	border: 3px solid transparent;
	color: $colorwhite;
}

@mixin button-hover {
	background-color: $colorOrange;
	border-color: transparent;
}

@mixin button-focus {
	background-color: $colorFocus;
	border-color: $colorOrange;
}

@mixin button-active {
	background-color: $colorActive;
}


@mixin titleText {
	font-family: TTFirsNeueBold;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0em;
	text-align: left;

}

@mixin workingText {
	font-family: RobotoRegular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
}