$bodyMaxWidth: 100%;
$headerBackgroundColor: #000;

$colorDarc: #202020;
$colorwhite: #fff;
$colorOrange: #ff6e30;
$colorGray: #333;
$colorLight: #cacaca;
$colorHover: #ff6e30;
$colorFocus: #bc572b;
$colorActive: #ce4307;
$colorBlack: #000


